<h1>Questions#answer</h1>

<div class="question">
  <p><%= @question %> - You</p>
</div>

<div class="answer">
  <h2>
    <%= @answer %>
  </h2>
  <p>- Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
